body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
    background: #f9f9f9; 
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.seesaw-wrapper{
    position: relative;
    width: 400px;
    height: 50px;
}
.seesaw{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #8b4513;
    transform-origin: center bottom;
    transition: transform 0.4s ease-out;
}
.pivot{
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: #555;
    border-radius: 50%;
}
.weight{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff6347;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    font-weight: bold;
    box-shadow:
    2px 2px 5px rgba(0,0,0,0.4),
    -2px -2px 5px rgba(255,255,255,0.15);
    user-select: none;
    transition: transform 0.2s ease;
}
.weight:hover{
    transform: scale(1.2);
}
.weights-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    color: #333;
}
#reset-btn{
    margin-top: 20px;
    padding: 10px 20px;
    background: #ff4b4b;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.25s ease;
    box-shadow: 0 4px 10px rgba(255, 75, 75, 0.3);
}
#reset-btn:hover{
    background: #ff2c2c;
    transform: scale(1.05);
    box-shadow: 0 6px 14px rgba(255, 75, 75, 0.45);

}

#reset-btn:active {
  transform: scale(0.97);
}

.weight-detail-box{
    margin-top: 15px;
    padding: 10px 15px;
    background: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}
.history-item {
  margin-top: 5px;
  padding: 5px 8px;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  font-size: 14px;
}
#history-list {
    max-height: 150px;   
    overflow-y: auto;
    display: flex;
    flex-direction: column;      
    margin-top: 10px;
    padding: 8px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

#history-list div {
    padding: 6px;
    margin-bottom: 6px;
    background: #f7f7f7;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
}